body{
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}

h1{
    color:rgb(0, 0, 0);
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    color:rgb(0, 0, 0);
    font-size: 25px;
    
}

#form{
    border:5px outset rgb(0, 0, 0) ;
    border-bottom: 3px solid rgb(0, 0, 0);
    width:fit-content;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 20px;
}

label{
    color:rgb(0, 0, 0)
}

.time{
    margin: 10px;
}

.time2{
    margin-bottom: 4px;
}

.form-control-inline{
    min-width: 0;
    width: auto;
    display: inline;
}

.input-feilds{
    margin-top: 30px;
    padding:6px
}

label{
    font-size: 20px;
    
}

.result{
    margin-top: 250px;
}

.result-text{
    font-size: 100px;
    color:rgb(0, 0, 0)
}

.flight-time{
    
    color:rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}